<mat-sidenav-container class="sidenav-container" [class.login-page]="!showNavigation">
  <mat-sidenav mode="side" [opened]="showNavigation" class="sidenav">
    <div class="sidenav-header">
      <h2>Metadata Management Tool</h2>
      <div class="environment-info">
        <mat-icon>account_tree</mat-icon>
        <span>{{ selectedEnvironment?.name || 'No env selected' }}</span>
        <button mat-icon-button (click)="changeEnvironment()" class="change-env-button">
          <mat-icon>swap_horiz</mat-icon>
        </button>
      </div>
    </div>
    <mat-nav-list>
      <a mat-list-item routerLink="/clients" routerLinkActive="active">
        <mat-icon matListItemIcon>group</mat-icon>
        <span matListItemTitle>Clients</span>
      </a>
      <a mat-list-item routerLink="/tpps" routerLinkActive="active">
        <mat-icon matListItemIcon>apps</mat-icon>
        <span matListItemTitle>TPPs</span>
      </a>
      <a mat-list-item routerLink="/orgs" routerLinkActive="active">
        <mat-icon matListItemIcon>business</mat-icon>
        <span matListItemTitle>Organizations</span>
      </a>
      <a mat-list-item routerLink="/tpp-orgs" routerLinkActive="active">
        <mat-icon matListItemIcon>link</mat-icon>
        <span matListItemTitle>TPP Organizations</span>
      </a>
      <a mat-list-item routerLink="/scopes" routerLinkActive="active">
        <mat-icon matListItemIcon>vpn_key</mat-icon>
        <span matListItemTitle>Scopes</span>
      </a>
    </mat-nav-list>
    <div class="sidenav-footer">
      <button mat-button (click)="logout()" class="logout-button">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content [class.no-padding]="!showNavigation">
    <div class="content" [class.login-content]="!showNavigation">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>